In [284]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import numpy as np
import seaborn as sns
from pathlib import Path
sns.set_style('whitegrid')  # Set whitegrid style from Seaborn
#import mplfinance as mpf
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "notebook"
import plotly.express as px
import matplotlib.ticker as tkr
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None
from collections import defaultdict
from scipy import stats
from datetime import datetime
import pytz
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 500)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import neptune as neptune
from scipy.interpolate import CubicSpline
from scipy.interpolate import interp1d
from scipy.interpolate import PchipInterpolator

In [285]:
# Load the datasets
actuals_df  = pd.read_csv('GR price actuals.csv')
provider1basic_df  = pd.read_csv('provider 1 GR price forecasts.csv')
provider1extra_df  = pd.read_csv('provider 1 GR price forecasts extra.csv')
provider2_df  = pd.read_csv('provider 2 GR price forecasts.csv')
provider3_df  = pd.read_csv('provider 3 GR price forecasts.csv')

actuals_df.drop(columns=['rownum'], inplace=True)

In [286]:
provider1basic_df

                      datetime_from   value
0     2024-07-12 23:00:00.000 +0200  305.86
1     2024-07-12 22:00:00.000 +0200  362.43
2     2024-07-12 21:00:00.000 +0200  463.18
3     2024-07-12 20:00:00.000 +0200  482.93
4     2024-07-12 19:00:00.000 +0200  471.13
...                             ...     ...
7604  2023-07-26 04:00:00.000 +0200  101.43
7605  2023-07-26 03:00:00.000 +0200  100.20
7606  2023-07-26 02:00:00.000 +0200  105.33
7607  2023-07-26 01:00:00.000 +0200  114.11
7608  2023-07-26 00:00:00.000 +0200  116.47

[7609 rows x 2 columns]

In [287]:
provider1extra_df

     Unnamed: 0              datetime_from   value
0             0  2024-03-27 08:00:00+01:00   74.99
1             1  2024-03-27 09:00:00+01:00   62.19
2             2  2024-03-27 10:00:00+01:00   52.03
3             3  2024-03-27 11:00:00+01:00   45.00
4             4  2024-03-27 12:00:00+01:00   42.96
5             5  2024-03-27 13:00:00+01:00   43.56
6             6  2024-03-27 14:00:00+01:00   46.74
7             7  2024-03-27 15:00:00+01:00   61.11
8             8  2024-03-27 16:00:00+01:00   74.73
9             9  2024-03-27 17:00:00+01:00   82.50
10           10  2024-03-27 18:00:00+01:00  104.08
11           11  2024-03-27 19:00:00+01:00  108.79
12           12  2024-03-27 20:00:00+01:00   83.96
13           13  2024-03-27 21:00:00+01:00   78.64
14           14  2024-03-27 22:00:00+01:00   74.52
15           15  2024-03-27 23:00:00+01:00   70.26
16           16  2024-03-28 00:00:00+01:00   56.67
17           17  2024-03-28 01:00:00+01:00   54.20
18           18  2024-03-28 02:00:00+01:00   52.34
19           19  2024-03-28 03:00:00+01:00   51.46
20           20  2024-03-28 04:00:00+01:00   55.58
21           21  2024-03-28 05:00:00+01:00   59.92
22           22  2024-03-28 06:00:00+01:00   69.91
23           23  2024-03-28 07:00:00+01:00   71.51
24           25  2024-03-28 08:00:00+01:00   52.72
25           27  2024-03-28 09:00:00+01:00   39.48
26           28  2024-03-28 10:00:00+01:00    8.92
27           31  2024-03-28 11:00:00+01:00    0.03
28           32  2024-03-28 12:00:00+01:00    0.02
29           34  2024-03-28 13:00:00+01:00    0.02
30           37  2024-03-28 14:00:00+01:00    0.94
31           38  2024-03-28 15:00:00+01:00   10.38
32           41  2024-03-28 16:00:00+01:00   35.70
33           43  2024-03-28 17:00:00+01:00   61.90
34           45  2024-03-28 18:00:00+01:00   74.80
35           46  2024-03-28 19:00:00+01:00   81.66
36           49  2024-03-28 20:00:00+01:00   73.45
37           50  2024-03-28 21:00:00+01:00   62.21
38           52  2024-03-28 22:00:00+01:00   73.41
39           54  2024-03-28 23:00:00+01:00   66.99
40           56  2024-03-29 00:00:00+01:00   62.32
41           58  2024-03-29 01:00:00+01:00   61.69
42           61  2024-03-29 02:00:00+01:00   60.96
43           62  2024-03-29 03:00:00+01:00   60.70
44           65  2024-03-29 04:00:00+01:00   63.57
45           66  2024-03-29 05:00:00+01:00   67.72
46           69  2024-03-29 06:00:00+01:00   73.19
47           71  2024-03-29 07:00:00+01:00   55.54
48           72  2024-03-29 08:00:00+01:00   16.16
49           77  2024-03-29 09:00:00+01:00    8.99
50           79  2024-03-29 10:00:00+01:00    0.02
51           83  2024-03-29 11:00:00+01:00    0.22
52           85  2024-03-29 12:00:00+01:00    5.11
53           89  2024-03-29 13:00:00+01:00    9.86
54           92  2024-03-29 14:00:00+01:00   13.44
55           93  2024-03-29 15:00:00+01:00   21.45
56           96  2024-03-29 16:00:00+01:00   69.61
57          101  2024-03-29 17:00:00+01:00   76.68
58          104  2024-03-29 18:00:00+01:00   94.79
59          107  2024-03-29 19:00:00+01:00  105.41
60          108  2024-03-29 20:00:00+01:00   87.40
61          113  2024-03-29 21:00:00+01:00   78.24
62          116  2024-03-29 22:00:00+01:00   75.89
63          117  2024-03-29 23:00:00+01:00   70.00
64          122  2024-03-30 00:00:00+01:00   70.21
65          123  2024-03-30 01:00:00+01:00   69.50
66          126  2024-03-30 02:00:00+01:00   69.51
67          129  2024-03-30 03:00:00+01:00   67.69
68          133  2024-03-30 04:00:00+01:00   67.65
69          135  2024-03-30 05:00:00+01:00   68.57
70          138  2024-03-30 06:00:00+01:00   64.06
71          141  2024-03-30 07:00:00+01:00   49.10
72          147  2024-03-30 08:00:00+01:00   36.49
73          151  2024-03-30 09:00:00+01:00    9.85
74          153  2024-03-30 10:00:00+01:00    3.09
75          159  2024-03-30 11:00:00+01:00    0.09
76          162  2024-03-30 12:00:00+01:00    0.01
77          166  2024-03-30 13:00:00+01:00    0.01
78          169  2024-03-30 14:00:00+01:00    1.00
79          173  2024-03-30 15:00:00+01:00   16.00
80          177  2024-03-30 16:00:00+01:00   68.00
81          181  2024-03-30 17:00:00+01:00   73.83
82          187  2024-03-30 18:00:00+01:00   81.52
83          191  2024-03-30 19:00:00+01:00   82.04
84          193  2024-03-30 20:00:00+01:00   75.85
85          197  2024-03-30 21:00:00+01:00   70.77
86          202  2024-03-30 22:00:00+01:00   70.83
87          206  2024-03-30 23:00:00+01:00   65.74
88          209  2024-03-31 00:00:00+01:00   63.01
89          212  2024-03-31 01:00:00+01:00   59.25
90          216  2024-03-31 03:00:00+02:00   55.87
91          221  2024-03-31 04:00:00+02:00   57.27
92          227  2024-03-31 05:00:00+02:00   61.77
93          229  2024-03-31 06:00:00+02:00   61.60
94          233  2024-03-31 07:00:00+02:00   49.31
95          238  2024-03-31 08:00:00+02:00   32.64
96          243  2024-03-31 09:00:00+02:00    8.63
97          245  2024-03-31 10:00:00+02:00    0.03
98          250  2024-03-31 11:00:00+02:00    0.03
99          257  2024-03-31 12:00:00+02:00    0.02
100         263  2024-03-31 13:00:00+02:00    0.00
101         268  2024-03-31 14:00:00+02:00    0.00
102         274  2024-03-31 15:00:00+02:00    0.03
103         279  2024-03-31 16:00:00+02:00    9.86
104         284  2024-03-31 17:00:00+02:00   43.32
105         285  2024-03-31 18:00:00+02:00   59.16
106         292  2024-03-31 19:00:00+02:00   79.12
107         297  2024-03-31 20:00:00+02:00   69.24
108         303  2024-03-31 21:00:00+02:00   65.81
109         308  2024-03-31 22:00:00+02:00   60.90
110         312  2024-03-31 23:00:00+02:00   48.07
111         316  2024-04-01 00:00:00+02:00   51.15
112         321  2024-04-01 01:00:00+02:00   49.68
113         325  2024-04-01 02:00:00+02:00   50.89
114         334  2024-04-01 03:00:00+02:00   50.55
115         339  2024-04-01 04:00:00+02:00   57.02
116         340  2024-04-01 05:00:00+02:00   66.15
117         348  2024-04-01 06:00:00+02:00   79.37
118         350  2024-04-01 07:00:00+02:00   76.86
119         356  2024-04-01 08:00:00+02:00   60.48
120         361  2024-04-01 09:00:00+02:00   21.30
121         369  2024-04-01 10:00:00+02:00    2.63
122         373  2024-04-01 11:00:00+02:00    0.03
123         379  2024-04-01 12:00:00+02:00    0.03
124         389  2024-04-01 13:00:00+02:00    0.03
125         392  2024-04-01 14:00:00+02:00    0.00
126         396  2024-04-01 15:00:00+02:00    0.01
127         402  2024-04-01 16:00:00+02:00    0.02
128         408  2024-04-01 17:00:00+02:00   15.82
129         416  2024-04-01 18:00:00+02:00   50.00
130         422  2024-04-01 19:00:00+02:00   80.49
131         426  2024-04-01 20:00:00+02:00   77.96
132         437  2024-04-01 21:00:00+02:00   57.48
133         440  2024-04-01 22:00:00+02:00   78.61
134         449  2024-04-01 23:00:00+02:00   50.00
135         450  2024-04-02 00:00:00+02:00   41.36
136         456  2024-04-02 01:00:00+02:00   40.32
137         466  2024-04-02 02:00:00+02:00   38.74
138         473  2024-04-02 03:00:00+02:00   37.63
139         474  2024-04-02 04:00:00+02:00   38.92
140         482  2024-04-02 05:00:00+02:00   52.56
141         487  2024-04-02 06:00:00+02:00   70.85
142         494  2024-04-02 07:00:00+02:00   64.44
143         503  2024-04-02 08:00:00+02:00   49.15
144         508  2024-04-02 09:00:00+02:00   45.45
145         516  2024-04-02 10:00:00+02:00    4.08
146         523  2024-04-02 11:00:00+02:00    0.64
147         527  2024-04-02 12:00:00+02:00    0.03
148         535  2024-04-02 13:00:00+02:00    0.02
149         544  2024-04-02 14:00:00+02:00    0.02
150         548  2024-04-02 15:00:00+02:00    0.03
151         553  2024-04-02 16:00:00+02:00    4.31
152         560  2024-04-02 17:00:00+02:00   39.87
153         567  2024-04-02 18:00:00+02:00   71.28
154         579  2024-04-02 19:00:00+02:00   75.72
155         581  2024-04-02 20:00:00+02:00   70.12
156         594  2024-04-02 21:00:00+02:00   67.56
157         598  2024-04-02 22:00:00+02:00   71.99
158         604  2024-04-02 23:00:00+02:00   68.04
159         614  2024-04-03 00:00:00+02:00   52.07
160         621  2024-04-03 01:00:00+02:00   49.33
161         624  2024-04-03 02:00:00+02:00   49.39
162         635  2024-04-03 03:00:00+02:00   49.08
163         641  2024-04-03 04:00:00+02:00   53.50
164         646  2024-04-03 05:00:00+02:00   63.47
165         651  2024-04-03 06:00:00+02:00   75.41
166         662  2024-04-03 07:00:00+02:00   71.71
167         666  2024-04-03 08:00:00+02:00   52.21
168         675  2024-04-03 09:00:00+02:00   60.36
169         684  2024-04-03 10:00:00+02:00   49.99
170         688  2024-04-03 11:00:00+02:00   14.69
171         699  2024-04-03 12:00:00+02:00   20.00
172         703  2024-04-03 13:00:00+02:00   43.60
173         711  2024-04-03 14:00:00+02:00   61.22
174         720  2024-04-03 15:00:00+02:00   68.25
175         722  2024-04-03 16:00:00+02:00   71.56
176         729  2024-04-03 17:00:00+02:00   72.42
177         740  2024-04-03 18:00:00+02:00   80.65
178         743  2024-04-03 19:00:00+02:00  119.83
179         753  2024-04-03 20:00:00+02:00  107.15
180         758  2024-04-03 21:00:00+02:00   79.64
181         770  2024-04-03 22:00:00+02:00   79.76
182         772  2024-04-03 23:00:00+02:00   69.05
183         781  2024-04-04 00:00:00+02:00   76.74
184         790  2024-04-04 01:00:00+02:00   74.43
185         798  2024-04-04 02:00:00+02:00   71.49
186         805  2024-04-04 03:00:00+02:00   70.30
187         807  2024-04-04 04:00:00+02:00   71.86
188         813  2024-04-04 05:00:00+02:00   78.57
189         826  2024-04-04 06:00:00+02:00   87.99
190         830  2024-04-04 07:00:00+02:00   88.36
191         840  2024-04-04 08:00:00+02:00   71.67
192         844  2024-04-04 09:00:00+02:00   67.01
193         851  2024-04-04 10:00:00+02:00   58.70
194         856  2024-04-04 11:00:00+02:00   51.90
195         863  2024-04-04 12:00:00+02:00   51.93
196         870  2024-04-04 13:00:00+02:00   51.00
197         877  2024-04-04 14:00:00+02:00   50.96
198         884  2024-04-04 15:00:00+02:00   51.58
199         893  2024-04-04 16:00:00+02:00   52.44
200         901  2024-04-04 17:00:00+02:00   63.24
201         911  2024-04-04 18:00:00+02:00   77.00
202         918  2024-04-04 19:00:00+02:00   82.21
203         925  2024-04-04 20:00:00+02:00   78.47
204         926  2024-04-04 21:00:00+02:00   70.21
205         937  2024-04-04 22:00:00+02:00   68.13
206         942  2024-04-04 23:00:00+02:00   58.27
207         953  2024-04-05 00:00:00+02:00   61.88
208         957  2024-04-05 01:00:00+02:00   60.89
209         965  2024-04-05 02:00:00+02:00   58.55
210         972  2024-04-05 03:00:00+02:00   58.05
211         976  2024-04-05 04:00:00+02:00   61.46
212         988  2024-04-05 05:00:00+02:00   67.81
213         995  2024-04-05 06:00:00+02:00   80.20
214         998  2024-04-05 07:00:00+02:00   77.77
215        1008  2024-04-05 08:00:00+02:00   70.63
216        1010  2024-04-05 09:00:00+02:00   59.42
217        1019  2024-04-05 10:00:00+02:00   44.11
218        1028  2024-04-05 11:00:00+02:00   29.96
219        1038  2024-04-05 12:00:00+02:00   27.07
220        1042  2024-04-05 13:00:00+02:00   25.71
221        1051  2024-04-05 14:00:00+02:00   31.47
222        1055  2024-04-05 15:00:00+02:00   45.11
223        1063  2024-04-05 16:00:00+02:00   52.90
224        1068  2024-04-05 17:00:00+02:00   64.55
225        1075  2024-04-05 18:00:00+02:00   76.87
226        1084  2024-04-05 19:00:00+02:00   89.18
227        1088  2024-04-05 20:00:00+02:00   83.39
228        1101  2024-04-05 21:00:00+02:00   75.23
229        1107  2024-04-05 22:00:00+02:00   69.96
230        1114  2024-04-05 23:00:00+02:00   68.48
231        1116  2024-04-06 00:00:00+02:00   65.24
232        1127  2024-04-06 01:00:00+02:00   66.07
233        1130  2024-04-06 02:00:00+02:00   64.88
234        1138  2024-04-06 03:00:00+02:00   64.35
235        1150  2024-04-06 04:00:00+02:00   64.03
236        1154  2024-04-06 05:00:00+02:00   65.27
237        1159  2024-04-06 06:00:00+02:00   69.31
238        1171  2024-04-06 07:00:00+02:00   65.97
239        1173  2024-04-06 08:00:00+02:00   61.96
240        1185  2024-04-06 09:00:00+02:00   44.31
241        1187  2024-04-06 10:00:00+02:00   24.54
242        1198  2024-04-06 11:00:00+02:00    7.75
243        1201  2024-04-06 12:00:00+02:00    0.03
244        1211  2024-04-06 13:00:00+02:00    0.03
245        1215  2024-04-06 14:00:00+02:00    0.03
246        1224  2024-04-06 15:00:00+02:00    0.03
247        1235  2024-04-06 16:00:00+02:00    6.69
248        1236  2024-04-06 17:00:00+02:00   64.77
249        1245  2024-04-06 18:00:00+02:00   76.60
250        1255  2024-04-06 19:00:00+02:00   90.32
251        1261  2024-04-06 20:00:00+02:00   84.10
252        1266  2024-04-06 21:00:00+02:00   76.73
253        1275  2024-04-06 22:00:00+02:00   76.69
254        1281  2024-04-06 23:00:00+02:00   76.14
255        1289  2024-04-07 00:00:00+02:00   70.83
256        1294  2024-04-07 01:00:00+02:00   65.48
257        1300  2024-04-07 02:00:00+02:00   63.41
258        1311  2024-04-07 03:00:00+02:00   62.07
259        1314  2024-04-07 04:00:00+02:00   60.49
260        1322  2024-04-07 05:00:00+02:00   60.71
261        1331  2024-04-07 06:00:00+02:00   59.56
262        1336  2024-04-07 07:00:00+02:00   48.61
263        1341  2024-04-07 08:00:00+02:00   38.19
264        1355  2024-04-07 09:00:00+02:00    0.02
265        1360  2024-04-07 10:00:00+02:00    0.02
266        1367  2024-04-07 11:00:00+02:00    0.00
267        1372  2024-04-07 12:00:00+02:00    0.00
268        1378  2024-04-07 13:00:00+02:00    0.00
269        1389  2024-04-07 14:00:00+02:00   -0.01
270        1397  2024-04-07 15:00:00+02:00    0.00
271        1404  2024-04-07 16:00:00+02:00    0.04
272        1405  2024-04-07 17:00:00+02:00   50.00
273        1416  2024-04-07 18:00:00+02:00   84.10
274        1420  2024-04-07 19:00:00+02:00   88.50
275        1426  2024-04-07 20:00:00+02:00   76.05
276        1436  2024-04-07 21:00:00+02:00   69.74
277        1445  2024-04-07 22:00:00+02:00   70.02
278        1447  2024-04-07 23:00:00+02:00   68.49
279        1456  2024-04-08 00:00:00+02:00   49.71
280        1462  2024-04-08 01:00:00+02:00   44.76
281        1470  2024-04-08 02:00:00+02:00   40.84
282        1481  2024-04-08 03:00:00+02:00   39.77
283        1484  2024-04-08 04:00:00+02:00   46.14
284        1494  2024-04-08 05:00:00+02:00   61.04
285        1501  2024-04-08 06:00:00+02:00   69.65
286        1509  2024-04-08 07:00:00+02:00   62.11
287        1513  2024-04-08 08:00:00+02:00   38.71
288        1523  2024-04-08 09:00:00+02:00   26.21
289        1529  2024-04-08 10:00:00+02:00    0.04
290        1532  2024-04-08 11:00:00+02:00    0.03
291        1543  2024-04-08 12:00:00+02:00    0.03
292        1552  2024-04-08 13:00:00+02:00    0.03
293        1553  2024-04-08 14:00:00+02:00    0.03
294        1561  2024-04-08 15:00:00+02:00   10.00
295        1572  2024-04-08 16:00:00+02:00   51.66
296        1579  2024-04-08 17:00:00+02:00   71.05
297        1583  2024-04-08 18:00:00+02:00   92.54
298        1594  2024-04-08 19:00:00+02:00   80.80
299        1599  2024-04-08 20:00:00+02:00   76.45
300        1607  2024-04-08 21:00:00+02:00   69.34
301        1609  2024-04-08 22:00:00+02:00   69.13
302        1617  2024-04-08 23:00:00+02:00   64.16
303        1628  2024-04-09 00:00:00+02:00   62.91
304        1632  2024-04-09 01:00:00+02:00   62.04
305        1637  2024-04-09 02:00:00+02:00   60.04
306        1648  2024-04-09 03:00:00+02:00   59.63
307        1657  2024-04-09 04:00:00+02:00   60.60
308        1659  2024-04-09 05:00:00+02:00   69.84
309        1668  2024-04-09 06:00:00+02:00   80.86
310        1676  2024-04-09 07:00:00+02:00   72.35
311        1685  2024-04-09 08:00:00+02:00   49.28
312        1689  2024-04-09 09:00:00+02:00   40.00
313        1700  2024-04-09 10:00:00+02:00    6.62
314        1706  2024-04-09 11:00:00+02:00    3.03
315        1714  2024-04-09 12:00:00+02:00    2.68
316        1718  2024-04-09 13:00:00+02:00    4.99
317        1728  2024-04-09 14:00:00+02:00    7.21
318        1730  2024-04-09 15:00:00+02:00   27.76
319        1736  2024-04-09 16:00:00+02:00   36.45
320        1747  2024-04-09 17:00:00+02:00   49.33
321        1756  2024-04-09 18:00:00+02:00   73.53
322        1758  2024-04-09 19:00:00+02:00   87.55
323        1764  2024-04-09 20:00:00+02:00   89.84
324        1772  2024-04-09 21:00:00+02:00   70.37
325        1781  2024-04-09 22:00:00+02:00   64.99
326        1791  2024-04-09 23:00:00+02:00   50.02
327        1795  2024-04-10 00:00:00+02:00   70.99
328        1804  2024-04-10 01:00:00+02:00   69.99
329        1808  2024-04-10 02:00:00+02:00   68.47
330        1819  2024-04-10 03:00:00+02:00   67.17
331        1824  2024-04-10 04:00:00+02:00   68.62
332        1830  2024-04-10 05:00:00+02:00   76.37
333        1840  2024-04-10 06:00:00+02:00   85.16
334        1841  2024-04-10 07:00:00+02:00   82.61
335        1852  2024-04-10 08:00:00+02:00   70.63
336        1856  2024-04-10 09:00:00+02:00   54.94
337        1867  2024-04-10 10:00:00+02:00   34.02
338        1874  2024-04-10 11:00:00+02:00   22.80
339        1877  2024-04-10 12:00:00+02:00   15.00
340        1889  2024-04-10 13:00:00+02:00    9.86
341        1897  2024-04-10 14:00:00+02:00   16.95
342        1900  2024-04-10 15:00:00+02:00   32.32
343        1909  2024-04-10 16:00:00+02:00   58.59
344        1915  2024-04-10 17:00:00+02:00   72.84
345        1920  2024-04-10 18:00:00+02:00   93.98
346        1926  2024-04-10 19:00:00+02:00  134.84
347        1936  2024-04-10 20:00:00+02:00  134.22
348        1941  2024-04-10 21:00:00+02:00  106.48
349        1951  2024-04-10 22:00:00+02:00   83.43
350        1955  2024-04-10 23:00:00+02:00   73.92
351        1964  2024-04-11 00:00:00+02:00   69.64
352        1968  2024-04-11 01:00:00+02:00   66.99
353        1975  2024-04-11 02:00:00+02:00   63.85
354        1986  2024-04-11 03:00:00+02:00   61.61
355        1993  2024-04-11 04:00:00+02:00   61.40
356        2002  2024-04-11 05:00:00+02:00   69.13
357        2003  2024-04-11 06:00:00+02:00   79.09
358        2015  2024-04-11 07:00:00+02:00   65.49
359        2021  2024-04-11 08:00:00+02:00   41.93
360        2024  2024-04-11 09:00:00+02:00   26.46
361        2037  2024-04-11 10:00:00+02:00    1.00
362        2038  2024-04-11 11:00:00+02:00    0.13
363        2050  2024-04-11 12:00:00+02:00    0.04
364        2052  2024-04-11 13:00:00+02:00    0.04
365        2060  2024-04-11 14:00:00+02:00    0.13
366        2070  2024-04-11 15:00:00+02:00    4.99
367        2077  2024-04-11 16:00:00+02:00   50.15
368        2080  2024-04-11 17:00:00+02:00   71.45
369        2087  2024-04-11 18:00:00+02:00   78.85
370        2094  2024-04-11 19:00:00+02:00  102.13
371        2105  2024-04-11 20:00:00+02:00   80.69
372        2111  2024-04-11 21:00:00+02:00   78.57
373        2116  2024-04-11 22:00:00+02:00   76.59
374        2124  2024-04-11 23:00:00+02:00   72.79
375        2133  2024-04-12 00:00:00+02:00   61.95
376        2136  2024-04-12 01:00:00+02:00   60.14
377        2144  2024-04-12 02:00:00+02:00   58.84
378        2151  2024-04-12 03:00:00+02:00   57.25
379        2157  2024-04-12 04:00:00+02:00   58.03
380        2168  2024-04-12 05:00:00+02:00   61.09
381        2171  2024-04-12 06:00:00+02:00   70.68
382        2184  2024-04-12 07:00:00+02:00   57.55
383        2188  2024-04-12 08:00:00+02:00   34.91
384        2197  2024-04-12 09:00:00+02:00    5.00
385        2201  2024-04-12 10:00:00+02:00    0.03
386        2208  2024-04-12 11:00:00+02:00    0.03
387        2220  2024-04-12 12:00:00+02:00    0.02
388        2226  2024-04-12 13:00:00+02:00    0.02
389        2229  2024-04-12 14:00:00+02:00    0.03
390        2241  2024-04-12 15:00:00+02:00    0.03

In [288]:
# Load and inspect each dataset individually
print("Provider 1 Basic DataFrame Head:\n", provider1basic_df.head())
print("Provider 1 Basic DataFrame Info:\n", provider1basic_df.info())

print("Provider 1 Extra DataFrame Head:\n", provider1extra_df.head())
print("Provider 1 Extra DataFrame Info:\n", provider1extra_df.info())

print("Provider 2 DataFrame Head:\n", provider2_df.head())
print("Provider 2 DataFrame Info:\n", provider2_df.info())

print("Provider 3 DataFrame Head:\n", provider3_df.head())
print("Provider 3 DataFrame Info:\n", provider3_df.info())

print("Actuals DataFrame Head:\n", actuals_df.head())
print("Actuals DataFrame Info:\n", actuals_df.info())

Provider 1 Basic DataFrame Head:
                    datetime_from   value
0  2024-07-12 23:00:00.000 +0200  305.86
1  2024-07-12 22:00:00.000 +0200  362.43
2  2024-07-12 21:00:00.000 +0200  463.18
3  2024-07-12 20:00:00.000 +0200  482.93
4  2024-07-12 19:00:00.000 +0200  471.13
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7609 entries, 0 to 7608
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  7609 non-null   object
 1   value          7609 non-null   float64
dtypes: float64(1), object(1)
memory usage: 119.0+ KB
Provider 1 Basic DataFrame Info:
 None
Provider 1 Extra DataFrame Head:
    Unnamed: 0              datetime_from  value
0           0  2024-03-27 08:00:00+01:00  74.99
1           1  2024-03-27 09:00:00+01:00  62.19
2           2  2024-03-27 10:00:00+01:00  52.03
3           3  2024-03-27 11:00:00+01:00  45.00
4           4  2024-03-27 12:00:00+01:00  42.96
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     471 non-null    int64
 1   datetime_from  471 non-null    object
 2   value          471 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.2+ KB
Provider 1 Extra DataFrame Info:
 None
Provider 2 DataFrame Head:
                    datetime_from   value
0  2024-07-12 10:00:00.000 +0200   96.30
1  2024-07-12 09:00:00.000 +0200  103.32
2  2024-07-12 08:00:00.000 +0200  121.38
3  2024-07-12 07:00:00.000 +0200  127.45
4  2024-07-12 06:00:00.000 +0200  119.20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9059 entries, 0 to 9058
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  9059 non-null   object
 1   value          9059 non-null   float64
dtypes: float64(1), object(1)
memory usage: 141.7+ KB
Provider 2 DataFrame Info:
 None
Provider 3 DataFrame Head:
                    datetime_from    value
0  2024-07-12 10:00:00.000 +0200   72.503
1  2024-07-12 09:00:00.000 +0200   78.805
2  2024-07-12 08:00:00.000 +0200   86.557
3  2024-07-12 07:00:00.000 +0200  106.327
4  2024-07-12 06:00:00.000 +0200  101.135
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9681 entries, 0 to 9680
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  9681 non-null   object
 1   value          9681 non-null   float64
dtypes: float64(1), object(1)
memory usage: 151.4+ KB
Provider 3 DataFrame Info:
 None
Actuals DataFrame Head:
                    datetime_from   price
0  2023-07-01 00:00:00.000 +0200  119.18
1  2023-07-01 01:00:00.000 +0200  117.32
2  2023-07-01 02:00:00.000 +0200  111.59
3  2023-07-01 03:00:00.000 +0200  111.40
4  2023-07-01 04:00:00.000 +0200  107.67
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8904 entries, 0 to 8903
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  8904 non-null   object
 1   price          8904 non-null   float64
dtypes: float64(1), object(1)
memory usage: 139.2+ KB
Actuals DataFrame Info:
 None

In [289]:
print(actuals_df.isna().sum())
print(provider1basic_df.isna().sum())
print(provider2_df.isna().sum())
print(provider3_df.isna().sum())

datetime_from    0
price            0
dtype: int64
datetime_from    0
value            0
dtype: int64
datetime_from    0
value            0
dtype: int64
datetime_from    0
value            0
dtype: int64

#### Provider1 Integration

In [290]:
# Clean up the extra file by removing the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in provider1extra_df.columns:
    provider1extra_df = provider1extra_df.drop(columns=['Unnamed: 0'])

# Convert datetime columns to datetime objects for merging
provider1basic_df['datetime_from'] = pd.to_datetime(provider1basic_df['datetime_from'], utc=True)
provider1extra_df['datetime_from'] = pd.to_datetime(provider1extra_df['datetime_from'], utc=True)


# Merge the dataframes, prioritizing values from provider1extra_df and including all values from provider1extra_df
merged_df = pd.merge(provider1basic_df, provider1extra_df, on='datetime_from', how='outer', suffixes=('_basic', '_extra'))

# Replace basic values with extra values where they exist
merged_df['value'] = merged_df['value_extra'].combine_first(merged_df['value_basic'])

# Drop the extra columns used for merging
merged_df = merged_df.drop(columns=['value_basic', 'value_extra'])

print(merged_df.isna().sum())


# Ensure there are no NaNs (there shouldn't be as per the logic)
merged_df = merged_df.dropna()

# Sort by datetime to ensure chronological order
merged_df = merged_df.sort_values(by='datetime_from').reset_index(drop=True)

# Output the merged dataframe to a CSV file
merged_df.to_csv('updated_provider1_forecasts.csv', index=False)

# Print the first few rows of the merged dataframe
print(merged_df.head())

datetime_from    0
value            0
dtype: int64
              datetime_from   value
0 2023-07-25 22:00:00+00:00  116.47
1 2023-07-25 23:00:00+00:00  114.11
2 2023-07-26 00:00:00+00:00  105.33
3 2023-07-26 01:00:00+00:00  100.20
4 2023-07-26 02:00:00+00:00  101.43

In [291]:
merged_df.shape

(8080, 2)

In [292]:
merged_df.duplicated().sum()

0

In [293]:
provider1_df = merged_df

In [294]:
provider1_df

                 datetime_from   value
0    2023-07-25 22:00:00+00:00  116.47
1    2023-07-25 23:00:00+00:00  114.11
2    2023-07-26 00:00:00+00:00  105.33
3    2023-07-26 01:00:00+00:00  100.20
4    2023-07-26 02:00:00+00:00  101.43
...                        ...     ...
8075 2024-07-12 17:00:00+00:00  471.13
8076 2024-07-12 18:00:00+00:00  482.93
8077 2024-07-12 19:00:00+00:00  463.18
8078 2024-07-12 20:00:00+00:00  362.43
8079 2024-07-12 21:00:00+00:00  305.86

[8080 rows x 2 columns]

In [295]:
april_values = provider1_df[provider1_df['datetime_from'].dt.month == 4]
april_values.head(150)

                 datetime_from   value
5658 2024-04-01 00:00:00+00:00   50.89
5659 2024-04-01 01:00:00+00:00   50.55
5660 2024-04-01 02:00:00+00:00   57.02
5661 2024-04-01 03:00:00+00:00   66.15
5662 2024-04-01 04:00:00+00:00   79.37
5663 2024-04-01 05:00:00+00:00   76.86
5664 2024-04-01 06:00:00+00:00   60.48
5665 2024-04-01 07:00:00+00:00   21.30
5666 2024-04-01 08:00:00+00:00    2.63
5667 2024-04-01 09:00:00+00:00    0.03
5668 2024-04-01 10:00:00+00:00    0.03
5669 2024-04-01 11:00:00+00:00    0.03
5670 2024-04-01 12:00:00+00:00    0.00
5671 2024-04-01 13:00:00+00:00    0.01
5672 2024-04-01 14:00:00+00:00    0.02
5673 2024-04-01 15:00:00+00:00   15.82
5674 2024-04-01 16:00:00+00:00   50.00
5675 2024-04-01 17:00:00+00:00   80.49
5676 2024-04-01 18:00:00+00:00   77.96
5677 2024-04-01 19:00:00+00:00   57.48
5678 2024-04-01 20:00:00+00:00   78.61
5679 2024-04-01 21:00:00+00:00   50.00
5680 2024-04-01 22:00:00+00:00   41.36
5681 2024-04-01 23:00:00+00:00   40.32
5682 2024-04-02 00:00:00+00:00   38.74
5683 2024-04-02 01:00:00+00:00   37.63
5684 2024-04-02 02:00:00+00:00   38.92
5685 2024-04-02 03:00:00+00:00   52.56
5686 2024-04-02 04:00:00+00:00   70.85
5687 2024-04-02 05:00:00+00:00   64.44
5688 2024-04-02 06:00:00+00:00   49.15
5689 2024-04-02 07:00:00+00:00   45.45
5690 2024-04-02 08:00:00+00:00    4.08
5691 2024-04-02 09:00:00+00:00    0.64
5692 2024-04-02 10:00:00+00:00    0.03
5693 2024-04-02 11:00:00+00:00    0.02
5694 2024-04-02 12:00:00+00:00    0.02
5695 2024-04-02 13:00:00+00:00    0.03
5696 2024-04-02 14:00:00+00:00    4.31
5697 2024-04-02 15:00:00+00:00   39.87
5698 2024-04-02 16:00:00+00:00   71.28
5699 2024-04-02 17:00:00+00:00   75.72
5700 2024-04-02 18:00:00+00:00   70.12
5701 2024-04-02 19:00:00+00:00   67.56
5702 2024-04-02 20:00:00+00:00   71.99
5703 2024-04-02 21:00:00+00:00   68.04
5704 2024-04-02 22:00:00+00:00   52.07
5705 2024-04-02 23:00:00+00:00   49.33
5706 2024-04-03 00:00:00+00:00   49.39
5707 2024-04-03 01:00:00+00:00   49.08
5708 2024-04-03 02:00:00+00:00   53.50
5709 2024-04-03 03:00:00+00:00   63.47
5710 2024-04-03 04:00:00+00:00   75.41
5711 2024-04-03 05:00:00+00:00   71.71
5712 2024-04-03 06:00:00+00:00   52.21
5713 2024-04-03 07:00:00+00:00   60.36
5714 2024-04-03 08:00:00+00:00   49.99
5715 2024-04-03 09:00:00+00:00   14.69
5716 2024-04-03 10:00:00+00:00   20.00
5717 2024-04-03 11:00:00+00:00   43.60
5718 2024-04-03 12:00:00+00:00   61.22
5719 2024-04-03 13:00:00+00:00   68.25
5720 2024-04-03 14:00:00+00:00   71.56
5721 2024-04-03 15:00:00+00:00   72.42
5722 2024-04-03 16:00:00+00:00   80.65
5723 2024-04-03 17:00:00+00:00  119.83
5724 2024-04-03 18:00:00+00:00  107.15
5725 2024-04-03 19:00:00+00:00   79.64
5726 2024-04-03 20:00:00+00:00   79.76
5727 2024-04-03 21:00:00+00:00   69.05
5728 2024-04-03 22:00:00+00:00   76.74
5729 2024-04-03 23:00:00+00:00   74.43
5730 2024-04-04 00:00:00+00:00   71.49
5731 2024-04-04 01:00:00+00:00   70.30
5732 2024-04-04 02:00:00+00:00   71.86
5733 2024-04-04 03:00:00+00:00   78.57
5734 2024-04-04 04:00:00+00:00   87.99
5735 2024-04-04 05:00:00+00:00   88.36
5736 2024-04-04 06:00:00+00:00   71.67
5737 2024-04-04 07:00:00+00:00   67.01
5738 2024-04-04 08:00:00+00:00   58.70
5739 2024-04-04 09:00:00+00:00   51.90
5740 2024-04-04 10:00:00+00:00   51.93
5741 2024-04-04 11:00:00+00:00   51.00
5742 2024-04-04 12:00:00+00:00   50.96
5743 2024-04-04 13:00:00+00:00   51.58
5744 2024-04-04 14:00:00+00:00   52.44
5745 2024-04-04 15:00:00+00:00   63.24
5746 2024-04-04 16:00:00+00:00   77.00
5747 2024-04-04 17:00:00+00:00   82.21
5748 2024-04-04 18:00:00+00:00   78.47
5749 2024-04-04 19:00:00+00:00   70.21
5750 2024-04-04 20:00:00+00:00   68.13
5751 2024-04-04 21:00:00+00:00   58.27
5752 2024-04-04 22:00:00+00:00   61.88
5753 2024-04-04 23:00:00+00:00   60.89
5754 2024-04-05 00:00:00+00:00   58.55
5755 2024-04-05 01:00:00+00:00   58.05
5756 2024-04-05 02:00:00+00:00   61.46
5757 2024-04-05 03:00:00+00:00   67.81
5758 2024-04-05 04:00:00+00:00   80.20
5759 2024-04-05 05:00:00+00:00   77.77
5760 2024-04-05 06:00:00+00:00   70.63
5761 2024-04-05 07:00:00+00:00   59.42
5762 2024-04-05 08:00:00+00:00   44.11
5763 2024-04-05 09:00:00+00:00   29.96
5764 2024-04-05 10:00:00+00:00   27.07
5765 2024-04-05 11:00:00+00:00   25.71
5766 2024-04-05 12:00:00+00:00   31.47
5767 2024-04-05 13:00:00+00:00   45.11
5768 2024-04-05 14:00:00+00:00   52.90
5769 2024-04-05 15:00:00+00:00   64.55
5770 2024-04-05 16:00:00+00:00   76.87
5771 2024-04-05 17:00:00+00:00   89.18
5772 2024-04-05 18:00:00+00:00   83.39
5773 2024-04-05 19:00:00+00:00   75.23
5774 2024-04-05 20:00:00+00:00   69.96
5775 2024-04-05 21:00:00+00:00   68.48
5776 2024-04-05 22:00:00+00:00   65.24
5777 2024-04-05 23:00:00+00:00   66.07
5778 2024-04-06 00:00:00+00:00   64.88
5779 2024-04-06 01:00:00+00:00   64.35
5780 2024-04-06 02:00:00+00:00   64.03
5781 2024-04-06 03:00:00+00:00   65.27
5782 2024-04-06 04:00:00+00:00   69.31
5783 2024-04-06 05:00:00+00:00   65.97
5784 2024-04-06 06:00:00+00:00   61.96
5785 2024-04-06 07:00:00+00:00   44.31
5786 2024-04-06 08:00:00+00:00   24.54
5787 2024-04-06 09:00:00+00:00    7.75
5788 2024-04-06 10:00:00+00:00    0.03
5789 2024-04-06 11:00:00+00:00    0.03
5790 2024-04-06 12:00:00+00:00    0.03
5791 2024-04-06 13:00:00+00:00    0.03
5792 2024-04-06 14:00:00+00:00    6.69
5793 2024-04-06 15:00:00+00:00   64.77
5794 2024-04-06 16:00:00+00:00   76.60
5795 2024-04-06 17:00:00+00:00   90.32
5796 2024-04-06 18:00:00+00:00   84.10
5797 2024-04-06 19:00:00+00:00   76.73
5798 2024-04-06 20:00:00+00:00   76.69
5799 2024-04-06 21:00:00+00:00   76.14
5800 2024-04-06 22:00:00+00:00   70.83
5801 2024-04-06 23:00:00+00:00   65.48
5802 2024-04-07 00:00:00+00:00   63.41
5803 2024-04-07 01:00:00+00:00   62.07
5804 2024-04-07 02:00:00+00:00   60.49
5805 2024-04-07 03:00:00+00:00   60.71
5806 2024-04-07 04:00:00+00:00   59.56
5807 2024-04-07 05:00:00+00:00   48.61

#### UTC Conversion , Timezone strip & Date Filtering

In [296]:
# Convert datetime columns to UTC
actuals_df['datetime_from'] = pd.to_datetime(actuals_df['datetime_from'], utc=True)
provider1_df['datetime_from'] = pd.to_datetime(provider1_df['datetime_from'], utc=True)
provider2_df['datetime_from'] = pd.to_datetime(provider2_df['datetime_from'], utc=True)
provider3_df['datetime_from'] = pd.to_datetime(provider3_df['datetime_from'], utc=True)

# Strip away the timezone information
actuals_df['datetime_from'] = actuals_df['datetime_from'].dt.tz_localize(None)
provider1_df['datetime_from'] = provider1_df['datetime_from'].dt.tz_localize(None)
provider2_df['datetime_from'] = provider2_df['datetime_from'].dt.tz_localize(None)
provider3_df['datetime_from'] = provider3_df['datetime_from'].dt.tz_localize(None)

In [297]:
provider1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8080 entries, 0 to 8079
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  8080 non-null   datetime64[ns]
 1   value          8080 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 126.4 KB

In [298]:
# Filter the dataframes to keep only the dates between 28/07/2023 and 05/07/2024
start_date = pd.Timestamp('2023-07-28 00:00')
end_date = pd.Timestamp('2024-07-05 23:00')


filtered_actuals_df = actuals_df[(actuals_df['datetime_from'] >= start_date) & (actuals_df['datetime_from'] <= end_date)]
filtered_provider1_df = provider1_df[(provider1_df['datetime_from'] >= start_date) & (provider1_df['datetime_from'] <= end_date)]
filtered_provider2_df = provider2_df[(provider2_df['datetime_from'] >= start_date) & (provider2_df['datetime_from'] <= end_date)]
filtered_provider3_df = provider3_df[(provider3_df['datetime_from'] >= start_date) & (provider3_df['datetime_from'] <= end_date)]

In [299]:
# Renaming the value columns for clarity
filtered_provider1_df.rename(columns={'value': 'price1'}, inplace=True)
filtered_provider2_df.rename(columns={'value': 'price2'}, inplace=True)
filtered_provider3_df.rename(columns={'value': 'price3'}, inplace=True)

In [300]:
# Display the filtered dataframes before interpolation
print("Filtered Actuals DataFrame Head:\n", filtered_actuals_df.head())
print("Filtered Provider 1 DataFrame Head:\n", filtered_provider1_df.head())
print("Filtered Provider 2 DataFrame Head:\n", filtered_provider2_df.head())
print("Filtered Provider 3 DataFrame Head:\n", filtered_provider3_df.head())

Filtered Actuals DataFrame Head:
           datetime_from   price
650 2023-07-28 00:00:00  107.99
651 2023-07-28 01:00:00  106.04
652 2023-07-28 02:00:00  106.10
653 2023-07-28 03:00:00  105.00
654 2023-07-28 04:00:00  102.22
Filtered Provider 1 DataFrame Head:
          datetime_from  price1
50 2023-07-28 00:00:00   98.83
51 2023-07-28 01:00:00   95.19
52 2023-07-28 02:00:00   97.00
53 2023-07-28 03:00:00  100.36
54 2023-07-28 04:00:00  109.23
Filtered Provider 2 DataFrame Head:
           datetime_from  price2
153 2024-07-05 23:00:00  111.39
154 2024-07-05 22:00:00  118.82
155 2024-07-05 21:00:00  132.61
156 2024-07-05 20:00:00  148.59
157 2024-07-05 19:00:00  195.33
Filtered Provider 3 DataFrame Head:
           datetime_from   price3
153 2024-07-05 23:00:00   90.826
154 2024-07-05 22:00:00  100.837
155 2024-07-05 21:00:00   97.156
156 2024-07-05 20:00:00  112.625
157 2024-07-05 19:00:00  138.556

In [301]:
print("Filtered Actuals DataFrame NaN:\n", filtered_actuals_df.isna().sum())
print("Filtered Provider 1 DataFrame NaN:\n", filtered_provider1_df.isna().sum())
print("Filtered Provider 2 DataFrame NaN:\n", filtered_provider2_df.isna().sum())
print("Filtered Provider 3 DataFrame NaN:\n", filtered_provider3_df.isna().sum())

Filtered Actuals DataFrame NaN:
 datetime_from    0
price            0
dtype: int64
Filtered Provider 1 DataFrame NaN:
 datetime_from    0
price1           0
dtype: int64
Filtered Provider 2 DataFrame NaN:
 datetime_from    0
price2           0
dtype: int64
Filtered Provider 3 DataFrame NaN:
 datetime_from    0
price3           0
dtype: int64

In [302]:
# Merging the dataframes
merged_df = filtered_actuals_df.merge(filtered_provider1_df, on='datetime_from', how='outer')
merged_df = merged_df.merge(filtered_provider2_df, on='datetime_from', how='outer')
merged_df = merged_df.merge(filtered_provider3_df, on='datetime_from', how='outer')

In [303]:
merged_df.head()

        datetime_from   price  price1  price2   price3
0 2023-07-28 00:00:00  107.99   98.83   95.05  107.123
1 2023-07-28 01:00:00  106.04   95.19   93.70  104.801
2 2023-07-28 02:00:00  106.10   97.00   87.98  102.977
3 2023-07-28 03:00:00  105.00  100.36   89.45  109.143
4 2023-07-28 04:00:00  102.22  109.23  101.46  116.560

In [304]:
merged_df.isna().sum()

datetime_from      0
price             24
price1           392
price2             0
price3             0
dtype: int64

In [305]:
merged_df['datetime_from'] = pd.to_datetime(merged_df['datetime_from'])

### Spline Interpolation

In [306]:
# Generate 1-hour intervals from 28/07/2023 to 05/07/2024
start_date = pd.to_datetime('2023-07-28 00:00')
end_date = pd.to_datetime('2024-07-05 23:00')
date_range = pd.date_range(start=start_date, end=end_date, freq='H')

In [307]:
intervals_df = pd.DataFrame(date_range, columns=['datetime_from'])

In [308]:
merged = intervals_df.merge(merged_df, on='datetime_from', how='left')

In [309]:
interpolated_df = merged.copy()
interpolated_df[['price', 'price1', 'price2', 'price3']] = interpolated_df[['price', 'price1', 'price2', 'price3']].interpolate(method='pchip')

In [310]:
# Check if all hours are present
expected_hours = pd.date_range(start=start_date, end=end_date, freq='H')
actual_hours = interpolated_df['datetime_from']
missing_hours_final_check = expected_hours.difference(actual_hours)
missing_hours_final_check_count = len(missing_hours_final_check)

In [311]:
missing_hours_final_check_count

0

In [312]:
# interpolated_df.to_csv('final.csv')

In [313]:
interpolated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8256 entries, 0 to 8255
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_from  8256 non-null   datetime64[ns]
 1   price          8256 non-null   float64
 2   price1         8256 non-null   float64
 3   price2         8256 non-null   float64
 4   price3         8256 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 387.0 KB

In [314]:
# Count the number of entries for each hour in the merged dataframe
interpolated_df['hour'] = interpolated_df['datetime_from'].dt.hour

hourly_counts = interpolated_df.groupby('hour').count()

# Select relevant columns for the counts
hourly_counts = hourly_counts[['datetime_from', 'price', 'price1', 'price2', 'price3']]
hourly_counts.columns = ['total_count', 'actuals_count', 'provider1_count', 'provider2_count', 'provider3_count']

# Display the hourly counts summary
print(hourly_counts)

      total_count  actuals_count  provider1_count  provider2_count  \
hour
0             344            344              344              344
1             344            344              344              344
2             344            344              344              344
3             344            344              344              344
4             344            344              344              344
5             344            344              344              344
6             344            344              344              344
7             344            344              344              344
8             344            344              344              344
9             344            344              344              344
10            344            344              344              344
11            344            344              344              344
12            344            344              344              344
13            344            344              344              344
14            344            344              344              344
15            344            344              344              344
16            344            344              344              344
17            344            344              344              344
18            344            344              344              344
19            344            344              344              344
20            344            344              344              344
21            344            344              344              344
22            344            344              344              344
23            344            344              344              344

      provider3_count
hour
0                 344
1                 344
2                 344
3                 344
4                 344
5                 344
6                 344
7                 344
8                 344
9                 344
10                344
11                344
12                344
13                344
14                344
15                344
16                344
17                344
18                344
19                344
20                344
21                344
22                344
23                344

In [315]:
interpolated_df.tail()

           datetime_from   price  price1  price2   price3  hour
8251 2024-07-05 19:00:00  162.83  143.01  195.33  138.556    19
8252 2024-07-05 20:00:00  130.50  115.74  148.59  112.625    20
8253 2024-07-05 21:00:00  109.16  113.48  132.61   97.156    21
8254 2024-07-05 22:00:00  126.43  106.10  118.82  100.837    22
8255 2024-07-05 23:00:00  118.13  103.51  111.39   90.826    23